#sidebar {
  height: 100%;
  width: 3.6rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #19161b;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 3.6rem;
  white-space: nowrap;
  padding-left: 1rem;
}

#sidebar a {
  display: block;
}

#sidebar a:hover {
  color: #f1f1f1;
}

#App #sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#App {
  padding: 1rem;
  margin-left: 5rem;
  transition: margin-left 0.5s;
}

  #sidebar img {
    vertical-align: middle;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    filter: invert(70%);
  }
  